<html>
<head>
  <title>{% block title %}Minus-Midterm{% endblock %}</title>
	<link rel="stylesheet"  type="text/css" href="static/style.css"/>
</head>
<body>

	<!-- Begin Wrapper -->
	<div id="wrapper">
		
		<!-- Begin Header -->
		<div id="header">
			{% block header %}
			{% endblock %}
		</div>
		<!-- End Header -->

		<!-- Begin LeftColumn -->
		<div id="leftcolumn">
			{% block leftcolumn %}
			{% endblock %}
		</div>
		<!-- End LeftColumn -->

		<!-- Begin Content -->
		<div id="content">
			{% block content %}
			{% endblock %}
		</div>
		<!-- End Content -->

		<!-- Begin RightColumn -->
		<div id="rightcolumn">
			{% block rightcolumn %}
			{% endblock %}
		</div>
		<!-- End RightColumn -->

		<!-- Begin Footer -->
		<div id="footer">
			{% block footer %}
			{% endblock %}
		</div>
		<!-- End Footer -->

	<!-- End Wrapper -->
	</div>

</body>
</html>