<html>
<head>
  <title>{% block title %}Minus-Midterm{% endblock %}</title>
</head>
<body><id="site">Assignment {% block sitenumber%}{% endblock %}</>

<p id="status">Status</p>

{% block Info %}
{% endblock %}

<p id="plan">Plan<p>

{% block Setup %}
{% endblock %}

<p id="expected-completion-date">Expected Completion Date</p>

{% block date %}
{% endblock %}

<li><a href='/site04'>Site 1 - OCCS Department</a></li>
<li><a href='/site02'>Site 2 - Flask Login</a></li>
<li><a href='/site03'>Site 3 - Simple Arcade Site</a></li>

</body>
</html>